APP_CONFIG__DB__URL=postgresql+asyncpg://user:pwd@localhost:5432/app
APP_CONFIG__DB__ECHO=0

POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_PORT=5432

APP_CONFIG__AUTH__RESET_PASSWORD_TOKEN_SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__VERIFICATION_TOKEN_SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__COOKIE_SECURE=0

APP_CONFIG__OAUTH__GOOGLE__CLIENT_ID=YourSecretKeyHere
APP_CONFIG__OAUTH__GOOGLE__CLIENT_SECRET=YourSecretKeyHere

APP_CONFIG__TASKIQ__URL=nats://localhost:4222

APP_CONFIG__MAIL__MAIL_USERNAME=YourUsernameHere
APP_CONFIG__MAIL__MAIL_FROM=YourEmailHere
APP_CONFIG__MAIL__MAIL_PASSWORD=YourPasswordHere
