APP_CONFIG__DB__URL=postgresql+asyncpg://user:pwd@pg:5432/app
APP_CONFIG__DB__ECHO=0

POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_PORT=5432

APP_CONFIG__AUTH__RESET_PASSWORD_TOKEN_SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__VERIFICATION_TOKEN_SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__COOKIE_SECURE=0

APP_CONFIG__OAUTH__GOOGLE__CLIENT_ID=YourSecretKeyHere
APP_CONFIG__OAUTH__GOOGLE__CLIENT_SECRET=YourSecretKeyHere

APP_CONFIG__TASKIQ__URL=nats://nats:4222

APP_CONFIG__MAIL__MAIL_USERNAME=YourUsernameHere
APP_CONFIG__MAIL__MAIL_FROM=YourEmailHere
APP_CONFIG__MAIL__MAIL_PASSWORD=YourPasswordHere

APP_CONFIG__S3__ENDPOINT_URL=http://minio:9000
APP_CONFIG__S3__ACCESS_KEY=YourAccessKeyHere
APP_CONFIG__S3__SECRET_KEY=YourSecretKeyHere
APP_CONFIG__S3__BUCKET_NAME=wishka
APP_CONFIG__S3__REGION=us-east-1

MINIO_ROOT_USER="${APP_CONFIG__S3__ACCESS_KEY}"
MINIO_ROOT_PASSWORD="${APP_CONFIG__S3__SECRET_KEY}"
