APP_CONFIG__DB__URL=postgresql+asyncpg://user:pwd@localhost:5432/app
APP_CONFIG__DB__ECHO=0

POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_PORT=5432

APP_CONFIG__AUTH__SECRET=YourSecretKeyHere
APP_CONFIG__AUTH__COOKIE_SECURE=0
